
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');


/* ############ default css############# */

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 72.5%;
}


/* ######################### utilitis claa css ############ */

.conteinar{
  max-width: 1200px;
  width: 90%;
  margin: auto;
}


.btn{
  display: inline-block;
  padding: 7px 14px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  border-radius: 50px;
  
}

.btn-primary{
  color: #000;
  background: #3498db;
}

.btn-primary:hover{
  background: #2980b9;
  
}


/* ################### navbar css ########### */



.navbar input[type="checkbox"], .hamburger-items .lines{
  display: none;
}




.navbar{
  box-shadow: 0px 2px 5px 0px #333;
  position: fixed;
  opacity: .83;
  width: 100%;
  color: #000;
  background: #fff;
  z-index: 999;
  
  
}


.navbar-conteinar{
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  
  
}


.menu-items{
  order: 2;
  display: flex;
  
  
}

.menu-items li{
  list-style: none;
  margin-left: 10px;
  font-size: 11px;
 
} 

.menu-items li a{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  transition: color .4s ;
}

.menu-items li a:hover{
  color: #117964;
}

.logo{
  order: 1;
  font-size: 30px;
  font-weight: 700px;
  margin-left: -30px;
}


/* ############# bannar css ########## */

.bannar{
  background: linear-gradient(rgba(240,240,240, .31), rgba(255,255,255, .21)) ,url(header-image2.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size:  cover;
  height: 50vh;
  
} 

.bannar-conteinar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 170px 0;
  height: 100%;
  
}

.bannar-conteinar h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700px;
  font-size: 20px;
  margin-bottom: 5px;
  
  
}

.bannar-conteinar p{
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400px;
  font-size: 11px;
  
}

.about-us{
  padding: 40px 0;
  background: #f5f5f7;
}

.about-conteinar{
  display: flex;
  flex-wrap: wrap;
  
}

.about-text{
  flex: 1 1 50px;
  margin: auto;
  padding: 15px 0;
  animation: text-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform: translateX(-50%);
  
}

@keyframes text-animation{
  100%{
    transform: translateX(0);
  }
}

.about-text .small{
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: 400px;
  font-size: 12px;
}
.about-text h2{
  text-transform: capitalize;
  font-weight: 600px;
  font-size: 20px;
  padding-bottom: 9px;
}

.about-img{
  flex: 1 1 50px;
  margin: auto;
  padding: 10px 0;
  animation: img-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform: translateX(50%);
  
}

@keyframes img-animation {
  100% {
    transform: translateX(0);
  }
}


.about-img img{
  max-width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  object-position: center;
  
}



/*############## food types css #########*/


.food-type{
  padding: 50px 0;
}

.food-type h1{
  text-align: center;
  font-weight: 600px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.food-conteinar{
  display: flex;
  justify-content: space-between;
  
  
}
.img-conteinar{
  margin-right: 7px;
  position: relative;
}

.img-conteinar img{
  width: 100%;
  display: block;
  height: 120px;
  object-fit: cover;
 
}
.img-content h3{
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.img-content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  z-index: 5;
  opacity: 0;
  transition: all .4s ease-in-out .1s;
}

.img-conteinar:hover .img-content{
  opacity: 1;
  top: 40%;
}

.img-conteinar::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .85);
  opacity: 0;
  z-index: 2;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: transform .4s ease-in-out;
}

.img-conteinar:hover::after{
  opacity: 1;
  transform: scaleY(1);
  
}





/*################# food menu css #######*/



.food-menu{
  padding: 30px 0;
 
}

.food-menu h1{
 text-transform: uppercase;
 letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  width: 100%;
  
  display: inline-block;
  
}

  


.menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f5f5f7;
  
}

.single-menu{
  flex-basis: 50%;
  margin-bottom: 20px;
  
}

.menu-content{
  
  
  padding: 10px;
  
}
.menu-content h4{
  margin-bottom: 8px;
  color: #35966EF5;
  text-transform: capitalize;
}

.menu-content span{
  color: #267283F5;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}
.menu-content p{
  text-transform: capitalize;
  line-height: 17px;
  color: #555;
  
}

.single-menu{
  display: flex;

  align-items: center;
}
.single-menu img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: .5s;
}

.single-menu img:hover{
  border-radius: 0;
}








.customar-items{
  padding: 30px 0;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin-top: 20px;
}
.c-wrapper p{
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
}

.c-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-wrapper img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  display: block;
  margin: auto;
 object-fit: cover;
}
.c-wrapper img:first-child{
  object-position: left ;
}
.c1 .star{
  color: #B58513F2;
  text-align: center;
  font-weight: 700px;
  font-size: 20px;
}





 /* #################### address items css######### */ 
 
 
 .address-items{
   padding: 40px 0;
   background: #ddd;
   margin-top: 40px;
   
   
 }
 
 .address-img img{
   width: 130px;
   object-fit: cover;
   
   
   height: 265px;
 
   
   
   
 }
 
 .address-conteinar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 
  
   
 }
 
 .lg{
   text-align: center;
   
 }
 .address-img{
   flex-basis: 50%;
  /*  border: 2px solid red;
  
   */
   flex: 1 1;
 }
 .address-form{
   flex-basis: 50%;
   /* border: 2px solid blue; */
   background: #fff;
   
 }
 
 .address-form p, input, textarea{
   margin-left: 10px;
   margin-top: 10px;
   
   
 }
 .address-form a{
   margin-left: 13px;
 }
 
 
 /*############## footer css ####££##*/
 
 
 .footer{
   padding: 20px 10px;
   text-align: center;
   color: #fff;
   background: #34495e;
   letter-spacing: 1px;
   font-size: 10px;
 }